*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100%;
    background:darkslateblue;
}

.main-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "top top top"
    "left left right";
 
}
.button-container{
    width:100vw;
    padding:2rem;
    background:green;
    grid-area: top;

}

button{
    padding:.4rem;
    font-size:1rem;
}


/* ----- Will use later ----- */
.button-append{
    padding:.4rem;
    font-size:1rem;
}

.gif-container{
    min-height:100vh;
    width:55vw;
    margin-right:5vw;
    grid-area:left;
    margin-top:4vh;


}

.form{
    width: 35vw;
    height:15vh;
    grid-area:right;
    margin-top:4vh;
}
label{
    display:block;
    font-size:1.2rem;
    color:green;
    font-weight: 900;
    
}
.input-box{
    margin-top:2vh;
    display:block;
    width:50%;
    font-size:.9rem;
}
.submit-btn{
    display:block;
    margin-top:2vh;
    background:green;
    border:none;
    border-radius:3px;
    padding:.8rem 1.2rem;
}